.site-nav {
  margin-left: 60px;
  margin-right: 60px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.site-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav > ul > li > a {
  display: block;
  height: 54px;
  line-height: 54px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.site-nav > ul > li > a:hover {
  color: #97FFC2;
}

.site-nav__logo {

}

.site-nav__logo > a {
  font-family: 'Yellowtail', cursive;
  font-size: 24px;
  color: #4C5966;
}

.site-nav__item {
  display: inline-block;
}

.site-nav__item > a {
  color: #8F979F;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.site-nav__link {

}
