/*
 *
 * static/css/portfolio
 * --
 * Styles for porfolio page elements
 *
 */

@media (min-width: 320px) {
  .portfolio-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .portfolio-item {
    border: 2px solid #FFD2D4;
    margin-top: 80px;
  }

  .portfolio-item__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  .portfolio-item__description {
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-image {
    position: relative;
  }

  .portfolio-image__item {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
  }

  .portfolio-links {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
  }

  .portfolio-links__item {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .portfolio-links__item > a {
    color: #72DF9F;
    text-decoration: none;
    border-bottom: 1px dotted;
    font-weight: 700;
  }

  .portfolio-services {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .portfolio-services__item {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .portfolio-services__item > img {
    margin-right: 6px;
  }
}

@media (min-width: 600px) {
  
}
