<li class="portfolio-item">

	{{ range .Params.image }}
	  {{ if eq . "BA" }}
		<div class="portfolio-image">
			{{ partial "components/ba_marketing_logo.svg" . }}
		</div>
		{{ else if eq . "BH" }}
		<div class="portfolio-image">
			<img src="/images/{{ index $.Site.Data.images.hash "blue-horizon.png" }}" alt="Blue Horizon" />
		</div>
		{{ else if eq . "GS" }}
		<div class="portfolio-image">
			<img src="/images/{{ index $.Site.Data.images.hash "georgina.png" }}" alt="Georgina Scott Bridal" />
		</div>
		{{ else }}
		<div style="margin-top: 3rem"></div>
		{{ end }}
	{{ end }}

	<h2 class="portfolio-item__title">{{ .Title }}</h2>
	<p class="portfolio-item__description">
		{{ .Params.description }}
	</p>

	<ul class="portfolio-links">
		{{ range .Params.links }}
			<li class="portfolio-links__item">
				{{ .type }}:
				<a href="{{ .url | relLangURL }}" target="_blank">
					<i class="fa fa-link"></i> {{ .title }}
				</a>
			</li>
		{{ end }}
	</ul>

	<div>
		<h4 class="portfolio-item__subtitle">Services</h4>
		{{ partial "skills.html" . }}
	</div>

</li>
