/*
 *
 * static/css/skills
 *
 */

@media (min-width: 320px) {
  .skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  .skill-item {
    text-align: center;
    width: 100%;
  }

  .skill-item:not(:first-of-type) {
    margin-top: 30px;
  }

  .skill-item__title {
    font-size: 14px;
    color: #4C5966;
  }
}


@media (min-width: 480px) {
  .skill-item {
    text-align: center;
    width: 33.33%;
  }

  /* RESET */
  .skill-item:not(:first-of-type) {
    margin-top: 0;
  }

  .skill-item:nth-child(n+4) {
    margin-top: 30px;
  }
}


@media (min-width: 768px) {
  .skill-item {
    text-align: center;
    width: 25%;
  }

  .skill-item:nth-child(n+5) {
    margin-top: 30px;
  }
}

/* LARGE */
@media (min-width: 992px) {}

/* X LARGE */
@media (min-width: 1200px) {}
