<header>

  {{ if .Site.Menus.main }}
  <nav class="site-nav">
    <ul>
      <li class="site-nav__logo">
        <a href="/">Clare Evans</a>
      </li>
    </ul>
    <ul>
      {{ range .Site.Menus.main }}
      {{ $currentNode := . }}
      <li class="site-nav__item">
        <a class="site-nav__link" href="{{ $currentNode.URL }}">{{ $currentNode.Name }}</a>
      </li>
      {{ end }}
      <li class="site-nav__item site-nav__item--pipe">
        <a class="site-nav__link" href="https://www.linkedin.com/in/clarejaneevans/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </nav>
  {{ end }}

</header>
