{{ define "main" }}

  <section class="page-section split-section">
    <div class="split-section__piece split-section__piece--banner">
      <img src="/images/{{ index .Site.Data.images.hash "clare-evans-home.jpg" }}" alt="{{ .Title }}" />
    </div>
    <div class="split-section__piece">
      <h1><span>{{ .Params.page_title }}</span></h1>
      <p>{{ .Params.page_intro }}</p>
      {{ range .Params.cta }}
        <a class="button" href="{{ .Link }}">
          <svg width="221px" height="56px" viewBox="0 0 221 56">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-645.000000, -388.000000)" fill="#97FFC2">
                      <polygon id="Rectangle-5" points="645 398 866 388 856 444 655 439"></polygon>
                  </g>
              </g>
          </svg>
          <span>{{ .Title }}</span>
        </a>
      {{ end }}
      {{ .Content }}
    </div>
  </section>

{{ end }}
