/*
 *
 *  Styles for portfolio list and items "_portfolio.scss"
 *  author: ianmilliken
 *
 */

@include bp-x-small {

  .portfolio-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .portfolio-item {
    margin-top: 8rem;
    border: 0.2rem solid $brand_light_pink;
  }

  .portfolio-item__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }

  .portfolio-item__description {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;

  }

  .portfolio-image {
    position: relative;
  }

  .portfolio-image__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
  }

  .portfolio-links {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0;
    list-style: none;
  }

  .portfolio-links__item {
    margin-bottom: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
  }

  .portfolio-links__item > a {
    font-weight: 700;
    text-decoration: none;
    color: $brand_green;
    border-bottom: 0.1rem dotted;
  }

  .portfolio-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
  }

  .portfolio-services__item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .portfolio-services__item > img {
    margin-right: 0.6rem;
  }
}
