/*
 *
 *  Styles for portfolio list and items "_portfolio.scss"
 *  author: ianmilliken
 *
 */

@include bp-x-small {

  .portfolio-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .portfolio-item {
    margin-top: 8rem;
    border: 0.2rem solid $brand_light_pink;

    &__title {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
    }

    &__subtitle {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      text-align: left;
    }

    &__description {
      max-width: 56rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 1.4rem;
      line-height: 1.48;
    }

    .skill-list {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .skill-item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: auto;

      // RESET
      &:nth-child(n+3),
      &:nth-child(n+4),
      &:nth-child(n+5) {
        margin-top: 0;
      }

      & > svg {
        max-width: 3rem;
        max-height: 3rem;
        margin-right: 0.6rem;
      }

      &__title {
        font-size: 1.3rem;
      }
    }
  }

  .portfolio-image {
    position: relative;
    height: 8.6rem; //@HACK height fix for png images
    margin-bottom: -3rem; // pull content up to make up for child transform

    & > svg,
    & > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: $white;
      box-shadow: -2rem 0 $white, 2rem 0 $white;
      transform: translateY(-50%);
    }
  }

  .portfolio-links {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1.6;
    list-style: none;

    &__item {
      margin-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: 600;

      & > a {
        font-weight: 700;
        text-decoration: none;
        color: $brand_green;
        border-bottom: 0.1rem dotted;
      }
    }
  }

  .portfolio-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      font-size: 1.3rem;
      font-weight: 600;

      & > img {
        margin-right: 0.6rem;
      }
    }
  }

}


@include bp-small {

  .portfolio-item {

    &__subtitle,
    &__description {
      text-align: center;
    }

    .skill-list {
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .portfolio-links {

    &__item {
      text-align: center;
    }
  }

}
