// 1. Typography

$html_font_size: 62.5%;
$body_font_size: 1.6rem;
$serif_font: 'Merriweather', serif;
$sans_font: 'Open Sans', sans-serif;
$cursive_font: 'Kalam', cursive;
$header_lineheight: 1.4;
$paragraph_lineheight: 1.6;

$font_smoothing: antialiased;
$font-rendering: optimizeLegibility;
