/*
 *
 *  Styles for site level navigation "_site_nav.scss"
 *  author: ianmilliken
 *
 */

@include bp-x-small {

  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.4rem;
    margin-left: 3rem;
    margin-right: 3rem;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: inline-block;

      &--pipe {
        border-left: 0.1rem solid darken($off_white, 5%);
        padding-left: 1rem;
      }
    }

    &__link {
      display: block;
      height: 5.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 5.4rem;
      text-decoration: none;
      color: lighten($brand_blue, 0.5);
      transition: color 0.2s ease;

      &:hover {
        color: $brand_light_green;
      }

      &--active {
        box-shadow: 0 0.2rem $brand_light_green;
      }
    }

    &__logo {

      & > a {
        font-family: $logo_font;
        font-size: 2.4rem;
        color: $brand_blue;
        text-decoration: none;
      }
    }
  }

  .site-drawer {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;

    &--active {
      z-index: 10;
      opacity: 0.9;
    }

    &__list {
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: block;
      width: 100%;
      text-align: center;
    }

    &__link {
      display: inline-block;
      padding: 2rem;
      font-size: 2.7rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-decoration: none;
      color: $white;

      &:hover {
        color: $brand_light_green;
      }

      &--active {
        box-shadow: 0 0.4rem $white;
      }
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1.7rem 4rem;
      font-size: 2rem;
      color: $white;
    }
  }

  .site-overlay {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-color: $black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--active {
      z-index: 10;
      opacity: 0.9;
    }
  }

}

@include bp-medium {

  .site-nav {
    margin-left: 6rem;
    margin-right: 6rem;
  }

}
