{{ if .IsNamedParams }}

  {{ if .Get "text" }}
    <h2><span>{{ .Get "text" }}</span></h2>
  {{ else }}
    <div class="error">
      <p class="error__message">
        <span class="error__element">H2</span>
        You forgot to enter text!
      </p>
    </div>
  {{ end }}

{{ else }}

  {{ if .Get 0 }}
    <h2><span>{{ .Get 0 }}</span></h2>
  {{ else }}
    <div class="error">
      <p class="error__message">
        <span class="error__element">H2</span>
        You forgot to enter text!
      </p>
    </div>
  {{ end }}

{{ end }}
